@charset "UTF-8";

header {
	height: 40px; 
	background-color: white;
	border: 1px solid #aaa;
	position: fixed;
	width: 100%;
	z-index:9999;
	top: 0;
	left: 0;
}
.centerize_wrapper{
	width:1175px;
	margin: 0 auto;
}
.centerize_wrapper #header-main-nav, .centerize_wrapper #header-sub-nav{
	width:100%;
	display: flex;
}
#header-main-nav #logoimg{
	width: 33%;
	float:left;
}
#header-main-nav #wrapperbox{
	float:left;
	width:66%
}
#wrapperbox #searchInput{
    width: 50%;
    max-width: 375px;
    display: table-cell;
    float:left;
}

#nav{
	width: 50%;
	float: right;
	display: block;
}
#logo {
	width:90px;
	float: left;
	margin-top:4px;
	margin-right:200px;
}
.iconnav{
	float:right;
	margin: 9px 10px;
	padding: 10px;
	background-size: cover;
	transition:0.1s;
}

#usernav{
    background-image:url("../../image/icon/user.png");
    border: 1px solid white;
    border-radius: 50%;
}
#notinav{
	background-image:url("../../image/icon/noti.png");
    /*  background-image:url("../../image/icon/noti(1).png");*/
}
#editnav{
	background-image:url("../../image/icon/edit.png");
}
#directnav{
	background-image:url("../../image/icon/chatting.png");
	/* 	background-image:url("../../image/icon/chatting (1).png"); */
}
#homenav{
	background-image:url("../../image/icon/home.png");
	/* 	background-image:url("../../image/icon/home (1).png"); */
}
#usernav:hover, #usernav:focus{
	border-color: #aaa;
}
.form_input{
	font-size: 14px;
	width: 100%;
    height: 28px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 6px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    padding-left: 40px;

}
.form_input:focus , .form_input:hover{
	border-color:#EE9BA3;
	box-shadow:0 0 8px 0 #EE9BA3;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon svg {
  position: absolute;
  left: 0;
  top: 4px;
  padding: 6px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon .form_input:focus + svg {
  color: #EE9BA3;
}
.inputWithIcon .form_input:hover + svg {
  color: #EE9BA3;
}
.sub-nav {
	position: relative;
	border: 1px solid #aaa;
	background-color:white;
	border-radius: 8px;
	z-index:1;
}

#sub-usernav {
	width: 150px;
	height: 84px;
	display:none;
	left:1015px;
}
#sub-notinav {
    width: 300px;
    height: 300px;
    padding: 8px;
    display:none;
    left:847.5px;
}
.sub-nav-pointer{
	position: absolute;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	background-color: white;
	top: -7px;
	z-index:2;
}
#sub-usernav .sub-nav-pointer{
    right:18px;
}
#sub-notinav .sub-nav-pointer{
	right:57.5px;
}
.sub-nav ul{
	list-style-type:none;
}
.sub-nav ul li {
	margin: 8px 0px
}
.sub-nav svg {
	margin-right:6px;
}
