<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feed">
	<resultMap type="com.kitri.sns.feed.vo.FeedVO" id="FeedMap">
		<result property="feedId" column="feed_id" />
		<result property="memberId" column="member_id" />
		<result property="imageURL" column="image_url" />
		<result property="content" column="content" />
		<result property="regdate" column="REG_DATE" />
		<result property="likes" column="likes" />
	</resultMap>

	<select id="selectFollowingNum" resultType="int">
		select following_num 
		from members 
		where member_id = '${loginid}'
	</select>
  
	<select id="selectFollowingFeeds" resultMap="FeedMap">
	<![CDATA[                                            
		select FEED_ID, MEMBER_ID, image_url, CONTENT, REG_DATE, LIKES
		from (  select rownum RNUM, FEED_ID, MEMBER_ID, image_url, CONTENT, REG_DATE, LIKES
				from( select FEED_ID, MEMBER_ID, image_url, CONTENT, TO_CHAR(reg_date, 'yy-MM-dd HH24:mi') as REG_DATE, LIKES
                        from post_feeds 
                        where member_id in (select follow_id 
                                            from member_follow
                                            where member_id = '${loginid}' )
                        and REG_DATE >= sysdate-3
                        order by reg_date desc
                    ) A
            )B
		where B.RNUM BETWEEN ${start} AND ${end}
	]]>
	</select>
	
	<select id="selectFollowingMoreFeeds" resultMap="FeedMap">
	<![CDATA[
		select FEED_ID, MEMBER_ID, image_url, CONTENT, reg_date, LIKES
			from (select rownum RNUM, FEED_ID, MEMBER_ID, image_url, CONTENT, reg_date, LIKES
				  from(select FEED_ID, MEMBER_ID, image_url, CONTENT, TO_CHAR(reg_date, 'yy-MM-dd HH24:mi') as reg_date, LIKES
	                    from post_feeds 
	                    where member_id in (select A.follow_id
                                             from (select count(nf.follow_id) not_follow_member,nf.follow_id
                                                   from member_follow nf, (select follow_id 
                                                                           from member_follow 
                                                                           where member_id = '${loginid}') fl  
                                                   where nf.follow_id = fl.follow_id(+)
                                                   and fl.follow_id is null
                                                   and nf.follow_id != '${loginid}'
                                                   group by nf.follow_id
                                                   order by not_follow_member desc) A
	                                        where rownum<4 )
	                     and REG_DATE >= sysdate-3
	                     order by reg_date desc
	              ) A
	            )B
		where B.RNUM BETWEEN ${start} AND ${end}
	]]>
	</select>
	
	<select id="selectRandomFeeds" resultMap="FeedMap">
	<![CDATA[
		select FEED_ID, MEMBER_ID, image_url, CONTENT, reg_date, LIKES
		from (  select rownum RNUM, FEED_ID, MEMBER_ID, image_url, CONTENT, reg_date, LIKES
				from( select FEED_ID, MEMBER_ID, image_url, CONTENT, TO_CHAR(reg_date, 'yy-MM-dd HH24:mi') as reg_date, LIKES
						from post_feeds 
						where reg_date >= sysdate-3 
						order by likes DESC
		             ) A
            )B
		where B.RNUM BETWEEN ${start} AND ${end}
	]]>
	</select>
	
	<update id="updateFeedLike" >
		UPDATE post_feeds 
		SET likes = likes+1 
		where feed_id = ${feedid}
	</update>
	
	<select id="selectFeedLikes" resultType="int">
		SELECT likes
		from post_feeds
		where feed_id = ${feedid}
	</select>
	
	<select id="selectFeedReplys" parameterType="int" resultType="replyVO">
		select MEMBER_ID,SEQ_NO,REPLY,TO_CHAR(REG_DATE,'yy-MM-dd HH24:mi') reg_date
		from feed_replys
		where feed_id = #{feedId}
		order by SEQ_NO desc
	</select>
</mapper>
