<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	
	<resultMap id="memberMap" type="member">
		<result property="id" column="member_id"/>
		<result property="pw" column="pw"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
		<result property="follower" column="follower_num"/>
		<result property="following" column="following_num"/>
		<result property="introduce" column="introduce"/>
	</resultMap>
	
	<select id="selectMember" resultMap="memberMap">
		SELECT * FROM MEMBERS
		WHERE MEMBER_ID = #{id}
		AND PW = #{pw}
	</select>
	
	<select id="selectIdCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBERS
		WHERE MEMBER_ID = #{id}
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBERS (MEMBER_ID, PW, AGE, NAME, FOLLOWER_NUM, FOLLOWING_NUM)
		VALUES (#{id},#{pw},#{age},#{name},0,0)
		
	</insert>
	
	<select id="searchAllUser" resultMap="memberMap">
	SELECT MEMBER_ID, NAME
	FROM MEMBERS
	ORDER BY MEMBER_ID
	</select>
</mapper>