<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dm">
	<resultMap type="com.kitri.sns.message.vo.MessageVO" id="messageMap">
		<result property="id1" column="id1" />
		<result property="id2" column="id2" />
		<result property="day" column="day" />
		<result property="path" column="path" />
		<result property="lastMsg" column="lastMsg" />
	</resultMap>
	
	<select id="selectList" resultMap="messageMap">
      SELECT * FROM DM 
      WHERE ID1 = #{senderId}
      OR ID2 = #{senderId}
      ORDER BY DAY ASC
   </select>
	
	<select id="selectMsgDetail"  resultMap="messageMap">
		SELECT * FROM ( 
						SELECT * FROM DM 
						WHERE ID1 IN ('${senderId}', '${receiverId}')
						OR 
						ID2 IN ('${senderId}', '${receiverId}') 
						ORDER BY DAY DESC 
						) 
		<![CDATA[WHERE ROWNUM <= 3]]>
	</select>

	<insert id="insertMsg" parameterType="dm">
		INSERT INTO DM(ID1, ID2, DAY, PATH, LASTMSG)
		VALUES ('${id1}','${id2}', SYSDATE, '${path}', '${lastMsg}')
<!-- 		VALUES ('${id1}','${id2}', '$TO_CHAR(SYSDATE,'YYYYMMDD')', '${path}', '${lastMsg}') -->
	</insert>
	
	<update id="updateMsg" parameterType="dm">
		UPDATE DM
		SET LASTMSG = #{lastMsg}
		WHERE ID1 IN (#{senderId}, #{receiverId})
		OR 
		ID2 IN (#{senderId}, #{receiverId})
	</update>
</mapper>